{% extends 'main.html' %}

{% load staticfiles %}


{% block article %}

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h4>{{article.article_date}}</h4>
			<h2>{{article.article_title}}</h2>
			<p>{{article.article_text}}</p>
			<p><a href="/articles/addlike/{{article.id}}/"><img src="{% static 'images.jpg'%}" style="width: 35px;height: 25px;"></a>{{article.article_likes}}</p>
			<hr>
				<div class="row">
					<div class="col-lg-6">
						<p>Comments:</p>
						{% for comment in comments %}
							<p>{{ comment.comments_text}}</p>
						{% endfor %}
						{% if username %}
							<form action="/articles/addcomment/{{ article.id }}/" method="post">
								{% csrf_token %}
								{{ form }}
								<input type="submit" class="button" value="Add a comment">
							</form>
						{% endif %}
					</div>
				</div>
		</div>
	</div>
</div>
		
{% endblock %}
